

h1 {
    box-sizing: border-box;
    text-align: center;
    font-size: 60px;
    background-color: lightpink;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.picture {
    box-sizing: border-box;
    text-align: center;
    width: 350px;
    margin-left: 773px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 44px;
    color: hsla(41, 54%, 47%, 0.89);
    margin: 0px;
}

p {
    font-size: 25px;
    font-family: Tahoma, sans-serif;
    margin: 0px;
}

h4 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    background-color: lightblue;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe {
    font-size: 25px;
    color: hsl(335, 68%, 42%);
    margin: 0px;
}